<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/user" method="GET">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="/auth/signup">Signup</a></p>
  </div>
</body>
</html>
